In [30]:
import pandas as pd
import numpy as np
data=pd.read_csv("netflix.csv")
print(data.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

1)Load the Netflix dataset and display the first 10 rows

In [2]:
print(data.head(10))

  show_id     type                             title  \
0      s1    Movie              Dick Johnson Is Dead
1      s2  TV Show                     Blood & Water
2      s3  TV Show                         Ganglands
3      s4  TV Show             Jailbirds New Orleans
4      s5  TV Show                      Kota Factory
5      s6  TV Show                     Midnight Mass
6      s7    Movie  My Little Pony: A New Generation
7      s8    Movie                           Sankofa
8      s9  TV Show     The Great British Baking Show
9     s10    Movie                      The Starling

                        director  \
0                Kirsten Johnson
1                            NaN
2                Julien Leclercq
3                            NaN
4                            NaN
5                  Mike Flanagan
6  Robert Cullen, José Luis Ucha
7                   Haile Gerima
8                Andy Devonshire
9                 Theodore Melfi

                                                cast  \
0                                                NaN
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5  Kate Siegel, Zach Gilford, Hamish Linklater, H...
6  Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8  Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9  Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...

                                             country          date_added  \
0                                      United States  September 25, 2021
1                                       South Africa  September 24, 2021
2                                                NaN  September 24, 2021
3                                                NaN  September 24, 2021
4                                              India  September 24, 2021
5                                                NaN  September 24, 2021
6                                                NaN  September 24, 2021
7  United States, Ghana, Burkina Faso, United Kin...  September 24, 2021
8                                     United Kingdom  September 24, 2021
9                                      United States  September 24, 2021

   release_year rating   duration  \
0          2020  PG-13     90 min
1          2021  TV-MA  2 Seasons
2          2021  TV-MA   1 Season
3          2021  TV-MA   1 Season
4          2021  TV-MA  2 Seasons
5          2021  TV-MA   1 Season
6          2021     PG     91 min
7          1993  TV-MA    125 min
8          2021  TV-14  9 Seasons
9          2021  PG-13    104 min

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...
5                 TV Dramas, TV Horror, TV Mysteries
6                           Children & Family Movies
7   Dramas, Independent Movies, International Movies
8                       British TV Shows, Reality TV
9                                   Comedies, Dramas

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...
5  The arrival of a charismatic young priest brin...
6  Equestria's divided. But a bright-eyed hero be...
7  On a photo shoot in Ghana, an American model s...
8  A talented batch of amateur bakers face off in...
9  A woman adjusting to life after a loss contend...

2)How many rows and columns does the dataset have?

In [3]:
print(data.shape)
# the data has 8807 rows and 12 columns

(8807, 12)

3)What are the data types of each column?

In [8]:
print(data.dtypes)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

4)Rename any two columns of your choice

In [3]:
data=data.rename(columns={"date_added":"Date Added","release_year":"Release Year"})
print(data.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'Date Added',
       'Release Year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

5)Check for missing values in each column - which column has the most?

In [11]:
print(data.isna().sum())
# the directors column has the most missing values
#To check for all the missing values
# print(data.isna().values.sum())

show_id            0
type               0
title              0
director        2634
cast             825
country          831
Date Added        10
Release Year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64
4307

6)Create a DataFrame containing only movies (not TV shows)

In [23]:
print(data["type"].unique())
data['Movies']=data["type"]=="Movie"
# print(data.columns)
print(data[['Movies','title']])

['Movie' 'TV Show']
      Movies                  title
0       True   Dick Johnson Is Dead
1      False          Blood & Water
2      False              Ganglands
3      False  Jailbirds New Orleans
4      False           Kota Factory
...      ...                    ...
8802    True                 Zodiac
8803   False            Zombie Dumb
8804    True             Zombieland
8805    True                   Zoom
8806    True                 Zubaan

[8807 rows x 2 columns]

7) Find all titles released in the year 2020

In [36]:
year=data[data['Release Year']==2020]['title']
print(year)
#953 movies were realesed in 2020

0                                    Dick Johnson Is Dead
16      Europe's Most Dangerous Man: Otto Skorzeny in ...
17                                        Falsa identidad
32                                          Sex Education
34                                Tayo and Little Wizards
                              ...
5972                                     #cats_the_mewvie
7594                   Norm of the North: Family Vacation
8099                                          Straight Up
8125                                          Super Wings
8132            Surviving R. Kelly Part II: The Reckoning
Name: title, Length: 953, dtype: object

8)Find all content added to Netflix in January 2021

In [21]:
### i don't know why it keeps on crashing

9)Find movies that are longer than 120 minutes

In [50]:
#creating a new column of only movies since the duration nwas mixed with seasons and minutes
data['duration'] = data['duration'].str.replace(' min', '', regex=False)
data['duration'] = pd.to_numeric(data['duration'], errors='coerce')

data['Movie Duration']=np.where(
    data['type']=="Movie",
    data['duration'],
    np.nan
)

long=data[data['Movie Duration']>120]
print(long)

     show_id   type                  title                 director  \
7         s8  Movie                Sankofa             Haile Gerima
12       s13  Movie           Je Suis Karl      Christian Schwochow
22       s23  Movie        Avvai Shanmughi           K.S. Ravikumar
24       s25  Movie                  Jeans               S. Shankar
26       s27  Movie         Minsara Kanavu              Rajiv Menon
...      ...    ...                    ...                      ...
8772   s8773  Movie  Yamla Pagla Deewana 2           Sangeeth Sivan
8773   s8774  Movie    Yanda Kartavya Aahe             Kedar Shinde
8788   s8789  Movie           You Carry Me               Ivona Juka
8798   s8799  Movie               Zed Plus  Chandra Prakash Dwivedi
8802   s8803  Movie                 Zodiac            David Fincher

                                                   cast  \
7     Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
12    Luna Wedler, Jannis Niewöhner, Milan Peschel, ...
22    Kamal Hassan, Meena, Gemini Ganesan, Heera Raj...
24    Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...
26    Arvind Swamy, Kajol, Prabhu Deva, Nassar, S.P....
...                                                 ...
8772  Dharmendra, Sunny Deol, Bobby Deol, Neha Sharm...
8773  Ankush Choudhary, Smita Shewale, Mohan Joshi, ...
8788  Lana Baric, Vojislav Brajovic, Natasa Janjic, ...
8798  Adil Hussain, Mona Singh, K.K. Raina, Sanjay M...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...

                                                country          date_added  \
7     United States, Ghana, Burkina Faso, United Kin...  September 24, 2021
12                              Germany, Czech Republic  September 23, 2021
22                                                  NaN  September 21, 2021
24                                                India  September 21, 2021
26                                                  NaN  September 21, 2021
...                                                 ...                 ...
8772                                              India         May 1, 2017
8773                                              India     January 1, 2018
8788              Croatia, Slovenia, Serbia, Montenegro        July 1, 2016
8798                                              India   December 31, 2019
8802                                      United States   November 20, 2019

      release_year rating  duration  \
7             1993  TV-MA     125.0
12            2021  TV-MA     127.0
22            1996  TV-PG     161.0
24            1998  TV-14     166.0
26            1997  TV-PG     147.0
...            ...    ...       ...
8772          2013  TV-14     147.0
8773          2006  TV-PG     151.0
8788          2015  TV-MA     157.0
8798          2014  TV-MA     131.0
8802          2007      R     158.0

                                              listed_in  \
7      Dramas, Independent Movies, International Movies
12                         Dramas, International Movies
22                       Comedies, International Movies
24      Comedies, International Movies, Romantic Movies
26     Comedies, International Movies, Music & Musicals
...                                                 ...
8772  Action & Adventure, Comedies, International Mo...
8773             Comedies, Dramas, International Movies
8788                       Dramas, International Movies
8798             Comedies, Dramas, International Movies
8802                     Cult Movies, Dramas, Thrillers

                                            description  Movie Duration
7     On a photo shoot in Ghana, an American model s...           125.0
12    After most of her family is murdered in a terr...           127.0
22    Newly divorced and denied visitation rights wi...           161.0
24    When the father of the man she loves insists t...           166.0
26    A tangled love triangle ensues when a man fall...           147.0
...                                                 ...             ...
8772  Up to his old tricks, con man Dharam poses as ...           147.0
8773  Thanks to an arranged marriage that was design...           151.0
8788  A soap opera producer, director and makeup art...           157.0
8798  A philandering small-town mechanic's political...           131.0
8802  A political cartoonist, a crime reporter and a...           158.0

[1142 rows x 13 columns]

10)Find TV shows with more than 3 seasons

In [59]:
# data['duration']=data['duration'].str.replace("Seasons","",regex=False)
# data['duration'] = pd.to_numeric(data['duration'], errors='coerce')
data['Shows']=np.where(
    data['type']=="Tv Show",
    data['duration']>3,
    np.nan
)

print(data['duration'])

0        90.0
1         NaN
2         NaN
3         NaN
4         NaN
        ...
8802    158.0
8803      NaN
8804     88.0
8805     88.0
8806    111.0
Name: duration, Length: 8807, dtype: float64