In [1]:
import pandas as pd
data=pd.read_csv("netflix.csv")
print(data.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

1)Load the Netflix dataset and display the first 10 rows

In [2]:
print(data.head(10))

  show_id     type                             title  \
0      s1    Movie              Dick Johnson Is Dead
1      s2  TV Show                     Blood & Water
2      s3  TV Show                         Ganglands
3      s4  TV Show             Jailbirds New Orleans
4      s5  TV Show                      Kota Factory
5      s6  TV Show                     Midnight Mass
6      s7    Movie  My Little Pony: A New Generation
7      s8    Movie                           Sankofa
8      s9  TV Show     The Great British Baking Show
9     s10    Movie                      The Starling

                        director  \
0                Kirsten Johnson
1                            NaN
2                Julien Leclercq
3                            NaN
4                            NaN
5                  Mike Flanagan
6  Robert Cullen, José Luis Ucha
7                   Haile Gerima
8                Andy Devonshire
9                 Theodore Melfi

                                                cast  \
0                                                NaN
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5  Kate Siegel, Zach Gilford, Hamish Linklater, H...
6  Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8  Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9  Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...

                                             country          date_added  \
0                                      United States  September 25, 2021
1                                       South Africa  September 24, 2021
2                                                NaN  September 24, 2021
3                                                NaN  September 24, 2021
4                                              India  September 24, 2021
5                                                NaN  September 24, 2021
6                                                NaN  September 24, 2021
7  United States, Ghana, Burkina Faso, United Kin...  September 24, 2021
8                                     United Kingdom  September 24, 2021
9                                      United States  September 24, 2021

   release_year rating   duration  \
0          2020  PG-13     90 min
1          2021  TV-MA  2 Seasons
2          2021  TV-MA   1 Season
3          2021  TV-MA   1 Season
4          2021  TV-MA  2 Seasons
5          2021  TV-MA   1 Season
6          2021     PG     91 min
7          1993  TV-MA    125 min
8          2021  TV-14  9 Seasons
9          2021  PG-13    104 min

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...
5                 TV Dramas, TV Horror, TV Mysteries
6                           Children & Family Movies
7   Dramas, Independent Movies, International Movies
8                       British TV Shows, Reality TV
9                                   Comedies, Dramas

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...
5  The arrival of a charismatic young priest brin...
6  Equestria's divided. But a bright-eyed hero be...
7  On a photo shoot in Ghana, an American model s...
8  A talented batch of amateur bakers face off in...
9  A woman adjusting to life after a loss contend...

2)How many rows and columns does the dataset have?

In [3]:
print(data.shape)
# the data has 8807 rows and 12 columns

(8807, 12)

3)What are the data types of each column?

In [8]:
print(data.dtypes)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

4)Rename any two columns of your choice

In [9]:
data=data.rename(columns={"date_added":"Date Added","release_year":"Release Year"})
print(data.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'Date Added',
       'Release Year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

5)Check for missing values in each column - which column has the most?

In [11]:
print(data.isna().sum())
# the directors column has the most missing values
#To check for all the missing values
# print(data.isna().values.sum())

show_id            0
type               0
title              0
director        2634
cast             825
country          831
Date Added        10
Release Year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64
4307

6)Create a DataFrame containing only movies (not TV shows)

In [23]:
print(data["type"].unique())
data['Movies']=data["type"]=="Movie"
# print(data.columns)
print(data[['Movies','title']])

['Movie' 'TV Show']
      Movies                  title
0       True   Dick Johnson Is Dead
1      False          Blood & Water
2      False              Ganglands
3      False  Jailbirds New Orleans
4      False           Kota Factory
...      ...                    ...
8802    True                 Zodiac
8803   False            Zombie Dumb
8804    True             Zombieland
8805    True                   Zoom
8806    True                 Zubaan

[8807 rows x 2 columns]

7) Find all titles released in the year 2020

In [36]:
year=data[data['Release Year']==2020]['title']
print(year)
#953 movies were realesed in 2020

0                                    Dick Johnson Is Dead
16      Europe's Most Dangerous Man: Otto Skorzeny in ...
17                                        Falsa identidad
32                                          Sex Education
34                                Tayo and Little Wizards
                              ...
5972                                     #cats_the_mewvie
7594                   Norm of the North: Family Vacation
8099                                          Straight Up
8125                                          Super Wings
8132            Surviving R. Kelly Part II: The Reckoning
Name: title, Length: 953, dtype: object

8)Find all content added to Netflix in January 2021

In [57]:
jan=data[(data['Date Added'].dt.year==2021) & (data['Date Added'].dt.month==1)]
print(jan.value_counts())

show_id  type   title                                           director          cast                                                                                                                                                                                                            country                        Date Added  Release Year  rating  duration  listed_in                                 description                                                                                                                                               Movies  year
s1367    Movie  Fatima                                          Marco Pontecorvo  Joaquim de Almeida, Goran Visnjic, Stephanie Gil, Alejandra Howard, Jorge Lamelas, Lúcia Moniz, Marco D'Almeida, Joana Ribeiro, Carla Chambel, Elmano Sancho, Harvey Keitel, Sonia Braga                        Portugal, United States        2021-01-31  2020          PG-13   113 min   Dramas, Faith & Spirituality              In 1917 Portugal, visions of the Virgin Mary come to three children whose message of faith raises doubts in their family and angers authorities.          True    False    1
s1368    Movie  Hell Fest                                       Gregory Plotkin   Amy Forsyth, Reign Edwards, Bex Taylor-Klaus, Tony Todd, Christian James, Matt Mercurio, Michael Tourek, Courtney Dietz, Stephen Conroy                                                                         United States                  2021-01-31  2018          R       89 min    Horror Movies                             A serial killer picks off a group of friends, one by one, as they make their way through a hell-themed amusement park.                                    True    False    1
s1369    Movie  Below Zero                                      Lluís Quílez      Javier Gutiérrez, Karra Elejalde, Luis Callejo, Andrés Gertrúdix, Isak Ferriz, Édgar Vittorino, Miquel Gelabert, Florin Opritescu, Àlex Monner, Patrick Criado                                                  Spain                          2021-01-29  2021          TV-MA   107 min   Action & Adventure, International Movies  When a prisoner transfer van is attacked, the cop in charge must fight those inside and outside while dealing with a silent foe: the icy temperatures.    True    False    1
s1370    Movie  Finding ‘Ohana                                  Jude Weng         Kea Peahu, Alex Aiono, Lindsay Watson, Owen Vaccaro, Kelly Hu, Branscombe Richmond, Ke Huy Quan, Brad Kalilimoku, Chris Parnell, Marc Evan Jackson, Ricky Garcia                                                United States                  2021-01-29  2021          PG      123 min   Children & Family Movies, Comedies        In Oʻahu for the summer, two siblings from Brooklyn connect with their Hawaiian heritage — and their family — on a daring quest for long-lost treasure.   True    False    1
s1371    Movie  The Dig                                         Simon Stone       Carey Mulligan, Ralph Fiennes, Lily James, Johnny Flynn, Ben Chaplin, Ken Stott                                                                                                                                 United Kingdom                 2021-01-29  2021          PG-13   113 min   Dramas, International Movies              On the eve of World War II, a British widow hires a self-taught archaeologist to dig up mysterious formations on her land, leading to a staggering find.  True    False    1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ..
s8188    Movie  The American President                          Rob Reiner        Michael Douglas, Annette Bening, Martin Sheen, Michael J. Fox, David Paymer, Samantha Mathis, John Mahoney, Anna Deavere Smith, Nina Siemaszko, Wendie Malick, Shawna Waldron, Richard Dreyfuss, Joshua Malina  United States                  2021-01-01  1995          PG-13   113 min   Comedies, Dramas, Romantic Movies         The widowed president strikes up a romance with a beautiful Washington lobbyist – but can the couple keep their private and political lives separate?     True    False    1
s8273    Movie  The Departed                                    Martin Scorsese   Leonardo DiCaprio, Matt Damon, Jack Nicholson, Mark Wahlberg, Martin Sheen, Ray Winstone, Vera Farmiga, Anthony Anderson, Alec Baldwin, Kevin Corrigan                                                          United States, Hong Kong       2021-01-01  2006          R       151 min   Dramas, Thrillers                         Two rookie Boston cops are sent deep undercover – one inside the gang of a charismatic Irish mob boss and the other double-crossing his own department.   True    False    1
s8321    Movie  The Girl with the Dragon Tattoo                 David Fincher     Daniel Craig, Rooney Mara, Christopher Plummer, Stellan Skarsgård, Steven Berkoff, Robin Wright, Yorick van Wageningen, Joely Richardson, Geraldine James, Goran Visnjic                                        United States, Sweden, Norway  2021-01-05  2011          R       158 min   Dramas, Thrillers                         When a young computer hacker is tasked with investigating a prying journalist, their separate missions become entangled amid a decades-old conspiracy.    True    False    1
s8435    Movie  The Naked Gun: From the Files of Police Squad!  David Zucker      Leslie Nielsen, Priscilla Presley, George Kennedy, Ricardo Montalban, O.J. Simpson, Raye Birk, Susan Beaubian, Nancy Marchand                                                                                   United States                  2021-01-01  1988          PG-13   85 min    Comedies, Cult Movies                     Hapless cop Frank Drebin causes more problems than he solves while trying to stop a deadly plot involving Queen Elizabeth II.                             True    False    1
s8462    Movie  The Polar Express                               Robert Zemeckis   Tom Hanks, Leslie Zemeckis, Eddie Deezen, Nona Gaye, Peter Scolari, Brendan King, Andy Pellick, Michael Jeter, Chris Coppola, Julene Renee                                                                      United States                  2021-01-01  2004          G       100 min   Children & Family Movies                  In this warm-hearted tale, a young boy's faith in the holiday spirit is revived after he makes his way by train to the North Pole on Christmas Eve.       True    False    1
Name: count, Length: 91, dtype: int64

9)Find movies that are longer than 120 minutes

In [64]:
long=data[(data['type']=="Movies") & (data['duration']>120)]
print(long)

TypeError: '>' not supported between instances of 'str' and 'int'